.card-content {
  margin: 20px;
  margin-left: 0;
  text-align: left;
  > .title {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: normal;
    color: #1b83f8;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  > .content {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #3c4855;
  }
}
